* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.radio-div {
    display: flex;
    flex-direction: column;
}
mat-radio-group {
    display: flex;
    flex-direction: row;
}