div {
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 100%;
}

app-side-bar {
    box-sizing: border-box;
    margin: 10px 5px;
}


.main-content-div {
    display: grid;
    grid-template-columns: 0px 1fr;
}