<div class="container" (onResize)="onResize()">
    <div class="description">
        @for (description of descriptionData; track $index) {
            <p class="description-label" [style.color]="descriptionData[$index].color">{{ descriptionData[$index].text }}</p>
        }
    </div>
    <div class="chart">
        <svg #mainSvg class="main-svg" (mouseenter)="onMouseEnter($event)" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave($event)">
            <g class="crosshair-layer">
                @if (crosshairHorizontal) {
                    <line class="crosshair" [attr.x1]="crosshairHorizontal.x1" [attr.y1]="crosshairHorizontal.y1"
                    [attr.x2]="crosshairHorizontal.x2" [attr.y2]="crosshairHorizontal.y2"></line>
                }
                @if (crosshairVertical) {
                    <line class="crosshair" [attr.x1]="crosshairVertical.x1" [attr.y1]="crosshairVertical.y1"
                    [attr.x2]="crosshairVertical.x2" [attr.y2]="crosshairVertical.y2"></line>
                }
            </g>
            <g class="grid-layer">
                <g #gridX class="x">
                    @for(line of gridXData; track $index) {
                        <line class="xgrid" [attr.x1]="gridXData[$index].x1" [attr.y1]="gridXData[$index].y1" 
                        [attr.x2]="gridXData[$index].x2" [attr.y2]="gridXData[$index].y2"></line>
                    }
                </g>
                <g #gridY class="y">
                    @for(line of gridYData; track $index) {
                        <line class="xgrid" [attr.x1]="gridYData[$index].x1" [attr.y1]="gridYData[$index].y1" 
                        [attr.x2]="gridYData[$index].x2" [attr.y2]="gridYData[$index].y2"></line>
                    }
                </g>
            </g>
            <g class="price-chart-layer">
                <g class="candlestick-layer">   
                    @for (downWick of candlestickChartData.downWicks; track $index) {
                        <line [attr.x1]="candlestickChartData.downWicks[$index].x1"
                        [attr.y1]="candlestickChartData.downWicks[$index].y1"
                        [attr.x2]="candlestickChartData.downWicks[$index].x2"
                        [attr.y2]="candlestickChartData.downWicks[$index].y2"
                        [attr.stroke]="downtickColor" />
                    }
                    @for (upWick of candlestickChartData.upWicks; track $index) {
                        <line [attr.x1]="candlestickChartData.upWicks[$index].x1"
                        [attr.y1]="candlestickChartData.upWicks[$index].y1"
                        [attr.x2]="candlestickChartData.upWicks[$index].x2"
                        [attr.y2]="candlestickChartData.upWicks[$index].y2"
                        [attr.stroke]="uptickColor" />
                    }
                    @for (neutralWick of candlestickChartData.neutralWicks; track $index) {
                        <line [attr.x1]="candlestickChartData.neutralWicks[$index].x1"
                        [attr.y1]="candlestickChartData.neutralWicks[$index].y1"
                        [attr.x2]="candlestickChartData.neutralWicks[$index].x2"
                        [attr.y2]="candlestickChartData.neutralWicks[$index].y2"
                        [attr.stroke]="notickColor" />
                    }
                    @for (downBody of candlestickChartData.downBodies; track $index) {
                        <rect [attr.x]="candlestickChartData.downBodies[$index].x"
                        [attr.y]="candlestickChartData.downBodies[$index].y"
                        [attr.width]="candlestickChartData.width"
                        [attr.height]="candlestickChartData.downBodies[$index].height"
                        [attr.fill]="downtickColor" />
                    }
                    @for (upBody of candlestickChartData.upBodies; track $index) {
                        <rect [attr.x]="candlestickChartData.upBodies[$index].x"
                        [attr.y]="candlestickChartData.upBodies[$index].y"
                        [attr.width]="candlestickChartData.width"
                        [attr.height]="candlestickChartData.upBodies[$index].height"
                        [attr.fill]="uptickColor" />
                    }   
                    @for (neutralBody of candlestickChartData.neutralBodies; track $index) {
                        <line [attr.x1]="candlestickChartData.neutralBodies[$index].x1"
                        [attr.y1]="candlestickChartData.neutralBodies[$index].y1"
                        [attr.x2]="candlestickChartData.neutralBodies[$index].x2"
                        [attr.y2]="candlestickChartData.neutralBodies[$index].y2"
                        [attr.stroke]="notickColor" />
                    }     
                </g>
                <g class="bar-layer">
                    @for (downLine of priceBarChartData.downLines; track $index) {
                        <line [attr.x1]="priceBarChartData.downLines[$index].x1"
                        [attr.y1]="priceBarChartData.downLines[$index].y1"
                        [attr.x2]="priceBarChartData.downLines[$index].x2"
                        [attr.y2]="priceBarChartData.downLines[$index].y2"
                        [attr.stroke]="downtickColor" />
                    }
                    @for (upLine of priceBarChartData.upLines; track upLine) {
                        <line [attr.x1]="priceBarChartData.upLines[$index].x1"
                        [attr.y1]="priceBarChartData.upLines[$index].y1"
                        [attr.x2]="priceBarChartData.upLines[$index].x2"
                        [attr.y2]="priceBarChartData.upLines[$index].y2"
                        [attr.stroke]="uptickColor" />
                    }
                    @for (neutralLine of priceBarChartData.neutralLines; track $index) {
                        <line [attr.x1]="priceBarChartData.neutralLines[$index].x1"
                        [attr.y1]="priceBarChartData.neutralLines[$index].y1"
                        [attr.x2]="priceBarChartData.neutralLines[$index].x2"
                        [attr.y2]="priceBarChartData.neutralLines[$index].y2"
                        [attr.stroke]="notickColor" />
                    }
                </g>
                <g class="line-layer">
                    @for (downLine of priceLineChartData.downLines; track $index) {
                        <line [attr.x1]="priceLineChartData.downLines[$index].x1"
                        [attr.y1]="priceLineChartData.downLines[$index].y1"
                        [attr.x2]="priceLineChartData.downLines[$index].x2"
                        [attr.y2]="priceLineChartData.downLines[$index].y2"
                        [attr.stroke]="downtickColor" />
                    }
                    @for (upLine of priceLineChartData.upLines; track $index) {
                        <line [attr.x1]="priceLineChartData.upLines[$index].x1"
                        [attr.y1]="priceLineChartData.upLines[$index].y1"
                        [attr.x2]="priceLineChartData.upLines[$index].x2"
                        [attr.y2]="priceLineChartData.upLines[$index].y2"
                        [attr.stroke]="uptickColor" />
                    }
                    @for (neutralLine of priceLineChartData.neutralLines; track $index) {
                        <line [attr.x1]="priceLineChartData.neutralLines[$index].x1"
                        [attr.y1]="priceLineChartData.neutralLines[$index].y1"
                        [attr.x2]="priceLineChartData.neutralLines[$index].x2"
                        [attr.y2]="priceLineChartData.neutralLines[$index].y2"
                        [attr.stroke]="notickColor" />
                    }
                </g>
            </g>
            <g class="studies-layer">
                <g class="circle-layer">
                    @for (data of circleChartData; track data) {
                        @for (circle of data.circleData; track circle) {
                            <circle [attr.cx]="circle.cx" [attr.cy]="circle.cy" [attr.r]="data.r"
                            [attr.fill]="data.color" />
                        }
                    }
                </g>
                <g class="line-layer">
                    @for (data of lineChartData; track data) {
                        @for (line of data.lineData; track line) {
                            <line [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2"
                            [attr.y2]="line.y2" [attr.stroke]="data.color"/>
                        }
                    }
                </g>
                <g class="polygon-layer">
                    @for (data of polygonChartData; track data) {
                        @for (polygon of data.polygonData; track polygon) {
                            <polygon [attr.points]="polygon.points" [attr.fill]="data.color" />
                        }
                    }
                </g>
                <g class="rectagle-layer">
                    @for (data of rectangleChartData; track data) {
                        @for (rectangle of data.rectangleData; track rectangle) {
                            <rect [attr.x]="rectangle.x" [attr.y]="rectangle.y" [attr.width]="data.width"
                            [attr.height]="rectangle.height" [attr.fill]="data.color" />
                        }
                    }
                </g>
            </g>
        </svg>
    </div>
    <div class="price-levels">
        <svg class="price-level-svg">
            @if (yAxisLevel) {
                <text x="0" [attr.y]="yAxisLevel.y" font-size="12px" fill="white">{{ yAxisLevel.text }}</text>
            }
            @for(yAxisLegend of yAxisLegends; track $index) {
                <text x="0" [attr.y]="yAxisLegends[$index].y" font-size="12px" fill="gray">{{ yAxisLegends[$index].text }}</text>
            }
        </svg>
    </div>
</div>